.subtitle {
    color: darkblue;
    font-style: italic;
    font-weight: bold;
}

.subtitle1 {
    color: white;
    font-style: italic;
    font-weight: bold;
}

.subtitle2 {
    color:blueviolet;
    font-style: italic;
    font-weight: bold;
}

h1 {

    font-size: 3rem;
    margin-bottom: 5px;
}

p {
    margin: 2px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

div {
    margin-top: 4px;
    font-size: 2rem;
    font-family: Lucida Handwriting;
}

.newthing {
    color: rosybrown;
    font-weight: bold;

}

.newimage {
    padding: 10px;
    border: 5px dotted black;
}

.email {
    color: coral;
    font-size: 1rem;
}

.navlink {
    font-weight: bold;
    color: blue;
    text-decoration: none;
    font-size: 1rem;
}

.fishbackground {
    background-image: url("Nemo\ pic.jpg");
    background-size: cover;
    color: whitesmoke;
}

#name-textbox {
    border-color: lightblue;
    border-width: 5px;
    border-style: solid;
}

#date-input {
    border-color: lightblue;
    border-width: 5px;
    border-style: solid;
}